[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pynput = "*"
pyscreenshot = "*"
pillow = "*"
opencv-python = "*"
opencv-python-contrib = "*"

[requires]
python_version = "3.7"
